{% extends 'base.html' %}

{% block content %}
<div class="band_below_nav"></div>

<section class="m-width log_section">
    <div class="title_form">
        <h1>Register</h1>
    </div>
<form method="POST" class="form_div">
    {% csrf_token %}
    <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </p>
    <button type="submit" id="submit">S'inscrire</button>
</form>
<div class="form_below">
    <p>Already have an account ? <a href="{% url 'login' %}">Sign up</a></p>
</div>
</section>
{% endblock %}